<!DOCTYPE html>
<html lang="{{ meta.locale }}">
    <head>
        {% include "partials/meta.njk" %}
        <link rel="stylesheet" href="/assets/style.css">
        <style>
            * {
                font-family: "Fira Code", monospace;
                font-variant-ligatures: common-ligatures;
            }
        </style>
    </head>
    <body class="bg-[{{ style.colors.bg }}] sm:text-3xl lg:max-2xl:text-base 2xl:text-base text-[{{ style.colors.text }}] pt-8">
    {% include "partials/ascii_header.njk" %}
    <br class="my-4 md:my-8">
    {% include "partials/nav.njk" %}
    <br class="my-4 md:my-8">
        {{ content | safe }}
    </body>
</html>