---
title: Home
layout: base.njk
permalink: /
---

{% set command = "cat ./README.txt" %}
{% include "partials/start_code_block.njk" %}
<p>We stay silly :3</p>
{% include "partials/end_code_block.njk" %}