<div class="max-w-full lg:max-2xl:text-base sm:text-2xl mx-auto text-center">
<pre class="font-bold bg-gradient-to-b from-cyan-400 via-cyan-100 to-pink-300 bg-clip-text" style="color: rgba(0, 0, 0, 0)">
 _    _    ___               __                        
| |  | |  /   |             / _|                       
| |  | | / /| |__   __ ___ | |_  ___   _ __  _ __ ___  
| |/\| |/ /_| |\ \ / // _ \|  _|/ _ \ | '__|| '_ ` _ \ 
\  /\  /\___  | \ V /|  __/| | | (_) || |   | | | | | |
 \/  \/     |_/  \_/  \___||_|  \___/ |_|   |_| |_| |_|
</pre>
</div>