<div class="px-10">
    <div class="mx-auto max-w-screen-2xl border-2 border-cyan-400">
        <div class="px-1 w-full bg-cyan-400 text-[#1A1C23]">
            <span>&lambda; {{ command }}</span>
        </div>
        <div class="p-3">
            {{ content }}
        </div>
    </div>
</div>