<!-- General -->
<meta name="description" content="{{ meta.description }}" />
<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:locale" content="{{ meta.locale }}" />
<meta property="og:site_name" content="{{ meta.title }}" />
<meta property="og:title" content="{{ site.name }} | {{ title }}" /> 
<meta property="og:description" content="{{ meta.description }}" />
<meta property="og:image:alt" content="Page image for {{ site.name }}" />
<meta name="twitter:card" content="summary" />