<div class="navbar mx-auto sm:max-w-prose md:max-w-prose lg:max-w-4xl xl:max-w-5xl">
    <div class="grid grid-cols-{{ nav.items.size }} gap-4 grid-flow-col">
        {%- for item in nav.items %}
            {%- set Current = (item.url == page.url) -%}
            {%- set Parent = item.url != '/' and item.url in page.url -%}
            <a href="{{ item.url }}" class="text-center border-2 {% if Current or Parent %}border-[{{ style.colors.active }}] {% else %}border-[{{ style.colors.accent }}] {% endif %} py-1.5">
                {{ item.name }}
            </a>
        {%- endfor %}
    </div>
</div>