<div class="mx-auto sm:max-w-prose md:max-w-prose lg:max-w-4xl xl:max-w-5xl border-2 border-[{{ style.colors.accent }}]">
    <div class="px-1 w-full bg-[{{ style.colors.accent }}] text-[{{ style.colors.accentText }}]">
        <span>{{ style.chars.terminalPrompt }} {{ command }}<span>
    </div>
    <div class="p-3">