<div class="mx-auto max-w-4xl border-2 border-[{{ style.colors.accent }}]">
    <div class="px-1 w-full bg-[{{ style.colors.accent }}] text-[{{ style.colors.accentText }}]">
        <span>{{ style.chars.terminalPrompt }} {{ command }}<span>
    </div>
    <div class="p-3">